<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form>
    <div>
      <img src="{{ profilePicture }}" 
      style="display: block; width: 150px; height: auto; margin-left: auto; margin-right: auto;">
      <h4 class="text center">{{ user }}</h4>
      <h6 class="text center">{{ email }}</h6>
      <h6 *ngIf="UUID!='0'" class="text center">{{ UUID }}</h6>
    </div><br/>
    <ion-list no-lines >
      <button ion-item (click)="updateProfile()">
        <ion-icon name="person" item-start></ion-icon>Actualizar Mi Perfil
      </button>
      <button ion-item (click)="changePassword()">
        <ion-icon name="md-lock" item-start></ion-icon>Cambiar Contraseña
      </button>
      <button ion-item (click)="membership()">
        <ion-icon name="md-lock" item-start></ion-icon>Membresía Comercial
      </button>
        <button ion-item (click)="addressClient()">
        <ion-icon name="home" item-start></ion-icon>Mis Direcciones
      </button>
    </ion-list>
  </form>
</ion-content>