<ion-header>
    <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Comentarios de Productos</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <form style="display: block; max-width: 500px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="insert()">
    <!--COMENTARIO-->
    <ion-list no-lines >
      <ion-item>
        <ion-label floating><ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>  Comentario</ion-label>
        <ion-textarea type="text"
        [(ngModel)]="comment.comment" name="comment" required>
        </ion-textarea>
      </ion-item>
        <button ion-button full type="submit" [disabled]="btnDisabled">Comentar</button>
    </ion-list>
  </form>
</ion-content>