<!-- 
  - @author    ThemesBuckets <themebucketbd@gmail.com>
  - @copyright Copyright (c) 2018
  - @license   Fulcrumy
-->
<!-- Video Page  -->

<!-- Header  -->
<ion-header no-border>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}" no-border>

    <!-- Page Title  -->
    <ion-title *ngIf="videoDetails">{{videoDetails.snippet.title}}</ion-title>

    <!-- Save Video 
    <ion-buttons end>
      <button ion-button clear (tap)="saveVideo()">
        <ion-icon name="md-bookmark" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<!-- Content  -->
<ion-content>

  <div *ngIf="videoDetails">

    <!-- IFrame of Youtube Video  -->
    <div id='iframe'>
      <iframe *ngIf="videoDetails" width="100%" height="250px;" [src]="'https://www.youtube.com/embed/'+videoDetails.id+'?enablejsapi=1' | sanitizer"
        frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="contents" padding>

      <!-- Video Title -->
      <h1 class="video-title">{{videoDetails.snippet.title}}</h1>

      <!-- Total View of Video  -->
      <p class="text">
        <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
        {{videoDetails.statistics.viewCount | number}} views &nbsp;
      </p>

      <!-- Total Like   -->
      <span class="text">
        <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
        {{videoDetails.statistics.likeCount | number}} &nbsp;
      </span>

      <!-- Total Dislike  -->
      <span class="text">
        <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon>
        {{videoDetails.statistics.dislikeCount | number}} &nbsp;
      </span>

      <!-- Total Comment  -->
      <span class="text">
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
        {{videoDetails.statistics.commentCount | number}} &nbsp;
      </span>

      <hr>

      <!-- Published Date -->
      <div>
        <ion-icon ios="ios-time" md="md-time"></ion-icon>
        <span> &nbsp; Publicado el {{videoDetails.snippet.publishedAt | date}}</span>
      </div>

      <br>

      <!-- Video Details -->
      <div class="text" [innerHTML]="textToHtml()"></div>
    </div>
  </div>
</ion-content>