<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subcategorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  <style></style>

  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let c of categorys">
      <img *ngIf="c.picture" (click)="seeProducts(c.id)" src="{{c.picture}}"/>
      <img *ngIf="!c.picture" (click)="seeProducts(c.id)" src="{{pictureCategories}}"/>
      <h2>{{ c.name }}</h2>
      <p>{{ c.description }}</p>
    </ion-slide>  
  </ion-slides>
  
</ion-content>