<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ tip.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <!-- INFORMACION DE PRODUCTOS -->
    <div>
      <div *ngIf="tip.picture" id='iframe'>
        <img class="image-slides2" [src]="tip.picture | sanitizer">
      </div>
      <p class="text center">
        <strong>
          <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción:
        </strong> {{tip.description}}
      </p>
    </div><br/>

    <div *ngIf="tip.link" padding>
      <button ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser(tip.link)">
        <ion-icon name="eye"></ion-icon>
        Ver Más
      </button>
    </div>

    <div padding>
    <button *ngIf="tip.id==16" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://wa.me/51991073225?text=Hola!%20Cu%C3%A1l%20es%20tu%20Nombre%20y%20a%20qu%C3%A9%20te%20dedicas%3A')">
      <ion-icon name="calendar"></ion-icon>
      PANAMÁ - 27 Y 28 DE JUNIO
    </button>

    <button *ngIf="tip.id==16" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://wa.me/51991073225?text=Hola!%20Cu%C3%A1l%20es%20tu%20Nombre%20y%20a%20qu%C3%A9%20te%20dedicas%3A')">
      <ion-icon name="calendar"></ion-icon>
      LOS ÁNGELES - 10 Y 11 DE JULIO
    </button>

    <button *ngIf="tip.id==16" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://wa.me/51991073225?text=Hola!%20Cu%C3%A1l%20es%20tu%20Nombre%20y%20a%20qu%C3%A9%20te%20dedicas%3A')">
      <ion-icon name="calendar"></ion-icon>
      QUEENS - 14 Y 15 DE JULIO
    </button>

    <button *ngIf="tip.id==16" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://wa.me/51991073225?text=Hola!%20Cu%C3%A1l%20es%20tu%20Nombre%20y%20a%20qu%C3%A9%20te%20dedicas%3A')">
      <ion-icon name="calendar"></ion-icon>
      MIAMI - 22 Y 23 DE JULIO
    </button>

    <button *ngIf="tip.id==16" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://wa.me/51991073225?text=Hola!%20Cu%C3%A1l%20es%20tu%20Nombre%20y%20a%20qu%C3%A9%20te%20dedicas%3A')">
      <ion-icon name="calendar"></ion-icon>
      MEDELLÍN - 10 Y 11 DE AGOSTO
    </button>

    <!--REP DOMINICANA-->
    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-republica-dominicana?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      R. DOMINICANA - 25 DE JUNIO
    </button>

    <!--PANAMA-->
    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-panama?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      PANAMÁ - 26 DE JUNIO
    </button>

    <!--LOS ANGELES-->
    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-los-angeles?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      LOS ÁNGELES - 9 DE JULIO
    </button>

    <!--LOS ANGELES-->
    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/mastertraining-los-angeles55920?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      LOS ÁNGELES - 10 DE JULIO
    </button>

    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-new-jersey?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      NEW JERSEY - 13 DE JULIO
    </button>

    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-miami?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      MIAMI - 16 DE JULIO
    </button>

    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-cali?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      CALI - 3 DE AGOSTO
    </button>

    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-bucaramanga?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      BUCARAMANGA - 4 DE AGOSTO
    </button>

    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-barranquilla?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      BARRANQUILLA - 5 DE AGOSTO
    </button>

    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-medellin?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      MEDELLÍN - 6 DE AGOSTO
    </button>

    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-pasto?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      PASTO - 6 DE AGOSTO
    </button>

    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-pereira?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      PEREIRA - 8 DE AGOSTO
    </button>

    <button *ngIf="tip.id==17" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://jurgenklaric.com/evento/conectate-con-el-dinero-tunja?reseller=06cb3f00aa09252fffcbe8ea8d165a338f803a7e')">
      <ion-icon name="calendar"></ion-icon>
      TUNJA - 9 DE AGOSTO
    </button>

    <button *ngIf="tip.id==18" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://wa.me/51991073225?text=Hola!%20Cu%C3%A1l%20es%20tu%20Nombre%20y%20a%20qu%C3%A9%20te%20dedicas%3A')">
      <ion-icon name="calendar"></ion-icon>
      NAPLES - 19, 20 Y 21 DE JULIO
    </button>

    <button *ngIf="tip.id==18" ion-button block type="button" color="{{ btnColor!=null?btnColor:'primary' }}" icon-start (click)="openBrowser('https://wa.me/51991073225?text=Hola!%20Cu%C3%A1l%20es%20tu%20Nombre%20y%20a%20qu%C3%A9%20te%20dedicas%3A')">
      <ion-icon name="calendar"></ion-icon>
      GUATAPÉ - 30 Y 31 AGOSTO Y 1 SEPTIEMBRE
    </button>
    </div>
    <!-- COMENTARIOS DE USUARIOS 
    <div>
      <ion-card *ngFor="let c of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ c.user }}</h2>
        <p>{{ c.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>-->
  </div>

  <!--<ion-fab right bottom>
    <button ion-fab (click)="openPage(tip.id)">
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
    </button>
  </ion-fab>-->
</ion-content>