<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Edición de Acceso</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!-- APODO -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Apodo</ion-label>
      <ion-input type="text" [(ngModel)]="data.apodo" name="apodo">
      </ion-input>
    </ion-item>
    <!-- MOSTRAR 
    <ion-item>
      <ion-label><ion-icon ios="ios-eye" md="md-eye"></ion-icon>  Mostrar</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="data.mostrar" name="mostrar"></ion-checkbox>
    </ion-item>-->
    <!-- DIRECCIÓN -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-menu" md="md-menu"></ion-icon>  Orden</ion-label>
      <ion-select [(ngModel)]="data.orden" name="orden">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
        <ion-option value="9">9</ion-option>
        <ion-option value="10">10</ion-option>
        <ion-option value="11">11</ion-option>
        <ion-option value="12">12</ion-option>
        <ion-option value="13">13</ion-option>
        <ion-option value="14">14</ion-option>
        <ion-option value="15">15</ion-option>
        <ion-option value="16">16</ion-option>
        <ion-option value="17">17</ion-option>
        <ion-option value="18">18</ion-option>
        <ion-option value="19">19</ion-option>
        <ion-option value="20">20</ion-option>
        <ion-option value="21">21</ion-option>
        <ion-option value="22">22</ion-option>
        <ion-option value="23">23</ion-option>
        <ion-option value="24">24</ion-option>
        <ion-option value="25">25</ion-option>
        <ion-option value="26">26</ion-option>
        <ion-option value="27">27</ion-option>
        <ion-option value="28">28</ion-option>
      </ion-select>
    </ion-item>
    <!-- DIRECCIÓN -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon>  Nivel de Membresía</ion-label>
      <ion-select [(ngModel)]="data.membresia" name="membresia">
        <ion-option value="0">Membresía Nivel 0</ion-option>
        <ion-option value="1">Membresía Nivel 1</ion-option>
        <ion-option value="2">Membresía Nivel 2</ion-option>
        <ion-option value="3">Membresía Nivel 3</ion-option>
        <ion-option value="4">Membresía Nivel 4</ion-option>
        <ion-option value="5">Membresía Nivel 5</ion-option>
        <ion-option value="6">Membresía Nivel 6</ion-option>
        <ion-option value="7">Membresía Nivel 7</ion-option>
        <ion-option value="8">Membresía Nivel 8</ion-option>
        <ion-option value="9">Membresía Nivel 9</ion-option>
        <ion-option value="10">Membresía Nivel 10</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="disabledBtn">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>
