<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveChanges()" padding>
    <!-- TITULO -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input type="text" name="title" [(ngModel)]="data.title" required>
        </ion-input>
    </ion-item>
    <!-- DESCRIPCION -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" maxlength="255" name="description" [(ngModel)]="data.description" required rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <!-- HORA 
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Hora Inicio</ion-label>
      <ion-datetime displayFormat="h:mm:ss" pickerFormat="h mm ss" [(ngModel)]="data.horaInicio" name="horaInicio"></ion-datetime>
    </ion-item>
    <!-- HORA 
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Hora Fin</ion-label>
      <ion-datetime displayFormat="h:mm:ss" pickerFormat="h mm ss" [(ngModel)]="data.horaFin" name="horaFin"></ion-datetime>
    </ion-item>
    <!-- DIA 
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Día</ion-label>
      <ion-select [(ngModel)]="data.dia" name="dia">
        <ion-option value="Domingo">Domingo</ion-option>
        <ion-option value="Lunes">Lunes</ion-option>
        <ion-option value="Martes">Martes</ion-option>
        <ion-option value="Miércoles">Miércoles</ion-option>
        <ion-option value="Jueves">Jueves</ion-option>
        <ion-option value="Viernes">Viernes</ion-option>
        <ion-option value="Sábado">Sábado</ion-option>
      </ion-select>
    </ion-item>-->

    <button ion-button block type="submit" icon-start [disabled]="disabledBtn" color="{{ btnColor }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button *ngIf="data.id" ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>
</ion-content>