<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ data.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <div *ngIf="data.picture" id='iframe'>
      <img class="image-slides2" [src]="data.picture | sanitizer">
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
      <p class="text center" *ngIf="data.description">{{data.description}}
      </p>
    </div>

    <!-- COMENTARIOS DE USUARIOS -->
    <div style="display: block; max-width: 800px; height: auto; margin-left: auto; margin-right: auto;">
      <ion-card *ngFor="let c of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ c.user }}</h2>
        <p>{{ c.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!--<ion-fab right bottom>
    <button ion-fab (click)="addComment(data.id)" disabled>
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
    </button>
  </ion-fab>-->  
</ion-content>