<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Leadearboard</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar no-border-top color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="retos" (click)="getAll()">
        Retos
      </ion-segment-button>
      <ion-segment-button value="miembros" (click)="getAllThird()">
        Miembros
      </ion-segment-button>
      <ion-segment-button value="motivacion" (click)="getAllSecond()">
        Testimonios
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- RETOS -->
  <div *ngIf="selectItem == 'retos'">
    <ion-list>
      <ion-item *ngFor="let x of challenges" (click)="openFormChallenge(x.id)">
        <div item-start>
          <img class="image-blog" *ngIf="x.picture" src="{{x.picture}}">
        </div>
        <h2>{{ x.title }}</h2>
        <p class="contenido">{{ x.description }}</p>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="selectItem == 'miembros'">
    <ion-list>
      <ion-item *ngFor="let x of members">
        <ion-thumbnail item-start>
          <img src="{{x.users.picture}}">
        </ion-thumbnail>
        <h2>{{x.users.firstname}} {{x.users.lastname}}</h2>
        <p><strong>Puntaje: </strong>{{x.puntaje}}</p>
      </ion-item>
    </ion-list>
  </div>

  <!-- MOTIVACION -->
  <div *ngIf="selectItem == 'motivacion'">
    <ion-list>
      <div *ngFor="let x of motivations">
      <ion-item *ngIf="x.state == '1'" (click)="openFormMotivation(x.id)">
        <ion-icon ios="ios-trophy" md="md-trophy" item-start></ion-icon>
        <h2>{{ x.title }}</h2>
        <p>{{ x.description }}</p>
      </ion-item>
      </div>
    </ion-list>  
  </div>

  <!-- BOTON AGREGAR RETO -->
  <ion-fab right bottom *ngIf="selectItem == 'retos'">
    <button ion-fab (click)="openFormChallenge()" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>

  <!-- BOTON AGREGAR MOTIVACION -->
  <ion-fab right bottom *ngIf="selectItem == 'motivacion'">
    <button ion-fab (click)="openFormMotivation()" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>