<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Orden Mi Carrito</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="">
  <form style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="saveChanges()">
    <div >
      <img src="{{ data.archivo }}" id="imgAvatar" alt="Avatar" class="image-slides"/>
      <img src="{{ data.archivo }}" id="imgAvatar2" alt="Avatar" class="image-slides"/>
    </div>
    <!-- NOMBRE -->
    <ion-item>
      <ion-label floating><ion-icon name="person"></ion-icon>  Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="data.x_first_name" name="x_first_name" disabled>
      </ion-input>
    </ion-item>
    <!-- APELLIDO -->
    <ion-item>
      <ion-label floating><ion-icon name="person"></ion-icon>  Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="data.x_last_name" name="x_last_name" disabled>
      </ion-input>
    </ion-item>
    <!-- NIT -->
    <ion-item>
      <ion-label floating><ion-icon name="document"></ion-icon>  NIT</ion-label>
      <ion-input type="text" [(ngModel)]="data.x_company" name="x_company">
      </ion-input>
    </ion-item>
    <!-- FECHA -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" [(ngModel)]="data.fecha" disabled
        pickerFormat="DD MMM YYYY" name="fecha">
      </ion-datetime>
    </ion-item>
    <!-- NO. FACTURA -->
    <ion-item>
      <ion-label floating><ion-icon name="home"></ion-icon>  Dirección</ion-label>
      <ion-select [(ngModel)]="data.x_address" name="x_address">
        <div *ngFor="let x of table">
          <ion-option value="{{x.id}}" *ngIf="x.client == data.cliente">{{ x.direccion }}</ion-option>
        </div>
      </ion-select>
    </ion-item>
    <!-- CANTIDAD -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Cantidad de Productos</ion-label>
      <ion-input type="text" disabled [(ngModel)]="data.cantidad" name="cantidad">
      </ion-input>
    </ion-item>
    <!--TIPO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Tipo de Venta</ion-label>
      <ion-select [(ngModel)]="data.tipo" name="tipo">
        <ion-option  *ngFor="let x of Ventas" value="{{x.id}}" >{{ x.descripcion }}</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="data.tipo == 3">
    <!-- TIPO DE TARJETA -->
    <ion-item>
    <ion-label floating><ion-icon name="card"></ion-icon>  Tipo de Tarjeta</ion-label>
      <ion-select [(ngModel)]="data.cc_type" name="cc_type">
        <ion-option value="visa">Visa</ion-option>
        <ion-option value="mastercard">MasterCard</ion-option>
      </ion-select>
    </ion-item>
    <!-- NUMERO DE TARJETA -->
    <ion-item>
      <ion-label floating><ion-icon name="card"></ion-icon>  No. Tarjeta</ion-label>
      <ion-input type="number" [(ngModel)]="data.cc_number" name="cc_number">
      </ion-input>
    </ion-item>
    <!-- NOMBRE DE LA TARJETA -->
    <ion-item>
      <ion-label floating><ion-icon name="card"></ion-icon>  Nombre de Tarjeta</ion-label>
      <ion-input type="text" [(ngModel)]="data.cc_name" name="cc_name">
      </ion-input>
    </ion-item>
    <!-- CVV -->
    <ion-item>
      <ion-label floating><ion-icon name="card"></ion-icon>  CVV</ion-label>
      <ion-input type="text" [(ngModel)]="data.cc_cvv2" name="cc_cvv2">
      </ion-input>
    </ion-item>
    <!--FECHA-->
    <ion-item>
      <ion-label floating><ion-icon name="calendar"></ion-icon>  Fecha de Expiración MM/YY</ion-label>
      <ion-datetime displayFormat="MMM YYYY" [(ngModel)]="data.cc_exp" name="cc_exp" max="2050-12-31">
      </ion-datetime>
      <!--<ion-input type="text" [(ngModel)]="data.cc_exp" name="cc_exp" placeholder="MM/YY" maxlength="5">
      </ion-input>-->
    </ion-item>   
    </div>
    <!--PRECIO-->
    <ion-item *ngIf="data.tipo == 2">
      <ion-label floating><ion-icon name="document"></ion-icon>  No. de Deposito</ion-label>
      <ion-input type="text" [(ngModel)]="data.deposito" name="deposito">
      </ion-input>
    </ion-item>
    <ion-card *ngIf="data.tipo == 2">
      <ion-card-content>
        <p><strong>Información de la Cuenta:</strong></p>
        <p>{{data.infodeposito}}</p>
      </ion-card-content>
    </ion-card>
    <!-- TOTAL -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-cash" md="md-cash"></ion-icon>  Total</ion-label>
      <ion-input type="text" disabled [(ngModel)]="data.x_amount" name="x_amount">
      </ion-input>
    </ion-item>
    <!-- COMENTARIO -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.comment" name="comment">
      </ion-textarea>
    </ion-item>
    <!--DESCUENTO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-cash" md="md-cash"></ion-icon>  Código de Descuento</ion-label>
      <ion-input type="text" [(ngModel)]="data2.codigo" name="codigo" maxlength="255">
      </ion-input>
    </ion-item>
    <div class="upload-btn-wrapper" *ngIf="data.tipo != 3">
      <button style="width: 100%" ion-button block icon-start outline type="button">
        <ion-icon ios="ios-attach" md="md-attach"></ion-icon>
        Adjuntar Archivo
      </button>
      <input class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <button ion-button block icon-start type="button" color="{{ btnColor!=null?btnColor:'primary' }}" (click)="search()" [disabled]="btnDisabled2">
      <ion-icon name="search"></ion-icon>Buscar Código
    </button>
    <button ion-button block icon-start type="submit" color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled">
      <ion-icon ios="ios-cart" md="md-cart"></ion-icon>Realizar Pedido
    </button> 
  </form>    
</ion-content>