<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveChanges()" padding>
    <!-- TITULO -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input type="text" name="title" [(ngModel)]="data.title" required>
        </ion-input>
    </ion-item>
    <!-- LINK -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-link" md="md-link"></ion-icon>  Link</ion-label>
      <ion-input type="text" name="link" [(ngModel)]="data.link" required>
        </ion-input>
    </ion-item>
    <!-- ICONO -->
    <ion-item>
      <ion-label floating><ion-icon ios="{{ data.icono }}" md="{{ data.icono }}"></ion-icon>  Icono</ion-label>
      <ion-select [(ngModel)]="data.icono" name="icono">
        <ion-option value="logo-facebook">Facebook</ion-option>
        <ion-option value="logo-twitter">Twitter</ion-option>
        <ion-option value="logo-google">Google</ion-option>
        <ion-option value="logo-youtube">YouTube</ion-option>
        <ion-option value="logo-instagram">Instagram</ion-option>
      </ion-select>
    </ion-item>
    <!-- COLOR -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-color-palette" md="md-color-palette"></ion-icon>  Color de Botón</ion-label>
      <ion-select [(ngModel)]="data.color" name="color">
        <ion-option value="facebook">Facebook</ion-option>
        <ion-option value="twitter">Twitter</ion-option>
        <ion-option value="youtube">YouTube</ion-option>
        <ion-option value="google">Google</ion-option>
        <ion-option value="instagram">Instagram</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-button block large type="button" color="{{ data.color }}">
        Prueba de Color
      </button>
    </ion-item>

    <button ion-button block type="submit" icon-start [disabled]="disabledBtn" color="{{ btnColor }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button *ngIf="data.id" ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>
</ion-content>