<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Comentarios de Social</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="closeModal()" large>
        <ion-icon ios="ios-close-outline" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="create()">
    <ion-item>
      <ion-label floating><ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text"
        [(ngModel)]="data.comment" name="comment" required>
      </ion-textarea>
    </ion-item>
    <button ion-button block type="submit" icon-start [disabled]="btnDisabled">
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
      Comentar
    </button>
  </form>
</ion-content>