<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ viewTitle }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="citas">
        Citas Generales
      </ion-segment-button>
      <ion-segment-button value="aprobadas" (click)="getAllSecond()">
        Aprobadas
      </ion-segment-button>
      <ion-segment-button value="pendientes" (click)="getAllSecond()">
        Pendientes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selectItem=='citas'" padding>
    <calendar [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      step="30"
      class="calendar">
    </calendar>
  </div>

  <div *ngIf="selectItem=='aprobadas'">
    <ion-list>
      <div *ngFor="let x of citas">
      <ion-item *ngIf="x.aprobacion == '1'" (click)="update(x)">
        <ion-icon ios="ios-calendar" md="md-calendar" item-start></ion-icon>
        <h2>{{x.titulo}}</h2>
        <p>{{x.fecha}}</p>
        <p>{{x.horaInicio}} - {{x.horaFin}}</p>
      </ion-item>
      </div>
    </ion-list>
  </div>

  <div  *ngIf="selectItem=='pendientes'">
    <ion-list>
      <div *ngFor="let x of citas">
      <ion-item *ngIf="x.aprobacion == '0'" (click)="update(x)">
        <ion-icon ios="ios-calendar" md="md-calendar" item-start></ion-icon>
        <h2>{{x.titulo}}</h2>
        <p>{{x.fecha}}</p>
        <p>{{x.horaInicio}} - {{x.horaFin}}</p>
      </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>