<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Documentos</ion-title>
  </ion-navbar>
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let x of products" id="myList">
    <button ion-item *ngIf="x.archivo" (click)="openBrowser(x.archivo, x.name)">
      <ion-avatar item-start>
        <img src="https://graficasizquierdo.es/wp-content/uploads/2017/04/pdf.png">
      </ion-avatar>
      <h2>{{ x.name }}</h2>
      <p>{{ x.description }}</p>
    </button>
    <button ion-item *ngIf="!x.archivo" (click)="documentEmpty()">
      <ion-avatar item-start>
        <img src="https://graficasizquierdo.es/wp-content/uploads/2017/04/pdf.png">
      </ion-avatar>
      <h2>{{ x.name }}</h2>
      <p>{{ x.description }}</p>
    </button>
    </div>
  </ion-list>
</ion-content>
