<ion-header>
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Progreso</ion-title>
  </ion-toolbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="progresos" (click)="getAllSecond()">
        Progresos
      </ion-segment-button>
      <ion-segment-button value="users" (click)="getAll()">
        Usuarios
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-navbar *ngIf="selectItem == 'progresos'" color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search2" autofocus
    (ionChange)="searchTable2()" (keyup)="searchTable2()">
    </ion-searchbar>
  </ion-navbar>
  <ion-navbar *ngIf="selectItem == 'users'" color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list *ngIf="selectItem == 'progresos'" id="myList">
    <ion-item-sliding *ngFor="let x of table">
      <ion-item (click)="openModalUpdate(x.id)">
        <ion-icon name="stats" item-start></ion-icon>
        <h2>Progeso No. {{ x.id }}</h2>
        <p><strong>Cliente: </strong>{{ x.clients.firstname }} {{ x.clients.lastname }}</p>
        <p><strong>Correo: </strong>{{ x.clients.email }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(x.id)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          Eliminar
        </button>
        <button ion-button color="primary" (click)="openModalUpdate(x.id)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list id="myList" *ngIf="selectItem == 'users'">
    <button ion-item *ngFor="let u of users" (click)="openModalCrate(u.id)">
      <ion-thumbnail item-start>
        <img src="{{ u.picture }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ u.firstname }} {{ u.lastname }}</h2>
        <p><strong>Correo: </strong>{{ u.email }}</p>
        <p><strong>Nickname: </strong>{{ u.username }}</p>
      </ion-label>
    </button>
  </ion-list>



</ion-content>