<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar *ngIf="parameter" color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="actualizar">
        Actualizar
      </ion-segment-button>
      <ion-segment-button value="detalle" (click)="loadComments()">
        Detalles
      </ion-segment-button>
      <ion-segment-button value="puntaje" (click)="getAll()">
        Puntaje
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form *ngIf="selectItem == 'actualizar'" (ngSubmit)="saveChanges()" padding>
    <div>
      <img src="{{ data.picture }}" id="imgAvatar" alt="Avatar" class="image-slides">
    </div>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Título</ion-label>
      <ion-input type="text" name="title" [(ngModel)]="data.title" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" name="description" [(ngModel)]="data.description" required rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <!--IMAGEN-->
    <div class="upload-btn-wrapper" *ngIf="data.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}" >
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Subir Imagen
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')" (click)="permission()"/>
    </div>
    <button ion-button block type="submit" icon-start [disabled]="disabledBtn" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
    <button *ngIf="data.id" ion-button block type="button" color="danger" icon-start (click)="delete(data.id)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>Eliminar
    </button>
  </form>

  <div *ngIf="selectItem == 'detalle'">
    <div *ngIf="data.picture" id='iframe'>
      <img class="image-slides2" [src]="data.picture | sanitizer">
    </div>

    <!-- INFORMACION -->
    <div>
      <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
      <p class="text center" *ngIf="data.description">{{data.description}}
      </p>
    </div>

    <!-- COMENTARIOS DE USUARIOS -->
    <div *ngFor="let c of data.comments">
      <ion-card style="position: relative" class="accordion">
      <ion-fab right top mini>
        <button ion-fab top mini>
          <ion-icon ios="ios-more" md="md-more"></ion-icon>
        </button>
        <ion-fab-list side="left">
          <button ion-fab (click)="openFormComment(c.id)"><ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon></button>
          <button ion-fab (click)="deleteComment(c.id)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.users.picture }}">
        </ion-avatar>
        <h2>{{ c.users.firstname }} {{ c.users.lastname }}</h2>
        <p>{{ c.created_at }}</p>
      </ion-item>
      <img  style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;" *ngIf="c.picture" src="{{c.picture}}" imageViewer>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>

      <div style="padding-left: 15px;" class="panel">
      <ion-card style="position: relative" *ngFor="let x of c.comments">
        <ion-fab right top mini>
          <button ion-fab top mini outline color="danger" (click)="deleteComment(x.id)">
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          </button>
        </ion-fab>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ x.users.picture }}">
          </ion-avatar>
          <h2>{{ x.users.firstname }} {{ x.users.lastname }}</h2>
          <p>{{ x.created_at }}</p>
        </ion-item>
        <ion-card-content>
          <img *ngIf="x.picture" src="x.picture" imageViewer>
          <p>{{ x.comment }}</p>
        </ion-card-content>
      </ion-card>
      </div>
    </div>
  </div>

  <div *ngIf="selectItem == 'puntaje'">
    <ion-list>
      <ion-item *ngFor="let x of members">
        <ion-thumbnail item-start>
          <img src="{{x.users.picture}}">
        </ion-thumbnail>
        <h2>{{x.users.firstname}} {{x.users.lastname}}</h2>
        <p><strong>Puntaje: </strong>{{x.puntaje}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>