<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  <style></style>

  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <div *ngFor="let c of categorys">
      <ion-slide *ngIf="!c.parent">
        <img *ngIf="c.picture" (click)="seeProducts(c.id, c.subcategorys)" src="{{c.picture}}"/>
        <img *ngIf="!c.picture" (click)="seeProducts(c.id, c.subcategorys)" src="{{pictureCategories}}"/>
        <h2>{{ c.name }}</h2>
        <p>{{ c.description }}</p>
      </ion-slide>
    </div>
  </ion-slides>
</ion-content>