<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Workouts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-item *ngFor="let x of table" (click)="openForm(x.id)">
      <ion-thumbnail item-start>
        <img *ngIf="x.picture" src="{{ x.picture }}">
        <img *ngIf="!x.picture" src="http://conozcasucanton.com/wp-content/uploads/sites/11/2016/07/icono_pesa.png">
      </ion-thumbnail>
      <h2 class="mayusculas">{{ x.title }}</h2>
      <p class="contenido">{{ x.description }}</p>
    </ion-item>
  </ion-list>

  <!-- BOTON AGREGAR -->
  <ion-fab right bottom>
    <button ion-fab (click)="openForm()" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>