<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Anuncios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let x of table" (click)="openForm(x.id)">
    <img *ngIf="x.url" src="{{ x.url }}"/>
    <ion-card-content>
        <ion-card-title>
        {{ x.titulo }}
        </ion-card-title>
        <p>{{ x.descripcion }}</p>
    </ion-card-content>
  </ion-card>

  <!-- BOTON AGREGAR RETO -->
  <ion-fab right bottom>
    <button ion-fab (click)="openForm()" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>