// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:        #488aff,
  secondary:      #32db64,
  danger:         #820000,
  light:          #080808,
  dark:           #222,
  user:           #00450E,
  admin:          #383838,
  w:              white,
  win:            rgba(232, 171, 50, 0.452),
  btnform:        #067F1A,
  gray:           #B5B5B5,

  //COLORES DE CONFIGURACION
  white:          #ffffff,
  rojooscuro:	  	#641E16,
  moradooscuro:		#512E5F,
  azulmarino:	  	#154360,
  azul:           #003D6E,
  verdeoscuro:		#145A32,
  amarillooscuro:	#7D6608,
  marron:		    	#784212,
  gris:			      #7B7D7D,
  grisoscuro: 		#4D5656,
  grisazulado:		#17202A,
  rojo:		      	#A93226,
  purpura:	    	#9B59B6,
  celeste:    		#3498DB,
  naranja:	    	#E67E22,
  vainilla:       #EDF597,
  crema:		    	#F0E0AB,
  verdelimon:     #96C10E,
  amarillo:       #FFA729,
  negro:          #000000,
  youtube:        #CC181E,
  facebook:       #013366,
  twitter:        #00ACEE,
  google:         #E80C25,
  instagram:      #cd486b,
  whatsapp:       #04BF8A,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
