// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.input-img {
  width: 100%;
  height: 44.8px;
}

.upload-btn-wrapper {
  position: relative;
  width: 100%;
}

.btn {
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper2 input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
}

body{
  padding-top: constant(safe-area-inset-top);//for iOS 11.2
  padding-top: env(safe-area-inset-top);//for iOS 11.1
}

.image-slides {
  display: block; 
  width: 600px; 
  height: auto; 
  margin-left: auto; 
  margin-right: auto;
}

.image-slides2 {
  display: block;
  height: auto; 
  margin-left: auto; 
  margin-right: auto;
}

.contenido {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.mayusculas{
	text-transform:uppercase;
}

.invisible {
  background-color: #ffffff00;
  opacity: 0;
}

.text {
  margin-bottom: 0px;
  margin-top: 0px;
}

.center {
  text-align: center;
}

@media only screen and (orientation: landscape)  {
  .my-modal {
   .modal-wrapper {
     padding: 20% 10% 20% 10%;
     background: rgba(0,0,0,0.5);
   } 
 }
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}