<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="presentaciones">
    <div *ngFor="let x of Table">
      <button ion-item *ngIf="x.user_created == idUser" (click)="select(x.id, x.name)">
      <label>
        <p class="mayusculas"><ion-icon name="pricetag"></ion-icon>  {{x.name}}</p>
        <p>{{x.description}}</p>
      </label>
      </button>
    </div>
  </ion-list>

  <form (ngSubmit)="saveChanges()" *ngIf="formulario" padding>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label floating><ion-icon name="pricetag"></ion-icon>  Descripcion</ion-label>
      <ion-input type="text" [(ngModel)]="data.description" name="description" >
      </ion-input>
    </ion-item>
    <!--PRECIO-->
    <ion-item>
      <ion-label floating><ion-icon name="pricetag"></ion-icon>  Precio</ion-label>
      <ion-input type="number" [(ngModel)]="data.price" name="price" >
      </ion-input>
    </ion-item>
    <!--COSTO-->
    <ion-item>
      <ion-label floating><ion-icon name="pricetag"></ion-icon>  Costo</ion-label>
      <ion-input type="number" [(ngModel)]="data.cost" name="cost" >
      </ion-input>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item>
      <ion-label floating><ion-icon name="basket"></ion-icon>  Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="data.quantity" name="quantity" >
      </ion-input>
    </ion-item>
    <button ion-button icon-start block type="submit" [disabled]="disabledBtn" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>