<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cronometro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item>
      <p>{{_minutos}}:{{_segundos}}.{{_centesimas}}</p>
    </ion-item>
    <ion-item style="text-align: center">
      <ion-grid>
        <ion-row style="align-self: center">
          <ion-col>
              <ion-icon [name]=estado (click)="estadoSwap()"></ion-icon>
          </ion-col>
          <ion-col >
              <ion-icon [color]=refreshColor name="refresh" (click)="stop()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>