<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="parameter.state == '1'">
  <form (ngSubmit)="updateProfile()">
    <ion-list no-lines>    
      <!-- IMAGEN DEL PERFIL-->
      <div *ngIf="profile.picture">
        <img src="{{ profile.picture }}" id="imgAvatar" alt="Avatar"
        style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="upload-btn-wrapper">
        <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon name="image"></ion-icon>
          Foto de Perfil
        </button>
        <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
      </div>  
      <!-- NICK DEL USUARIO -->
      <ion-item>
        <ion-label floating><ion-icon name="person"></ion-icon>  Nombre de Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="profile.username" name="username">
        </ion-input>
      </ion-item>
      <!-- CORREO ELECTRONICO -->
      <ion-item>
        <ion-label floating><ion-icon name="at"></ion-icon>  Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="profile.email" name="email">
        </ion-input>
      </ion-item>
      <!-- NOMBRE DEL USUARIO -->
      <ion-item>
        <ion-label floating><ion-icon name="person"></ion-icon>  Nombres</ion-label>
        <ion-input type="text" [(ngModel)]="profile.firstname" name="firstname">
        </ion-input>
      </ion-item>
      <!-- APELLIDOS -->
      <ion-item>
        <ion-label floating><ion-icon name="person"></ion-icon>  Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="profile.lastname" name="lastname">
        </ion-input>
      </ion-item>
      <!-- DESCRIPCION -->
      <ion-item>
        <ion-label floating><ion-icon name="information-circle"></ion-icon>  Descripción</ion-label>
        <ion-textarea type="text" [(ngModel)]="profile.description" name="description">
        </ion-textarea>
      </ion-item>
      <!-- EDAD
      <ion-item>
        <ion-label floating><ion-icon name="information-circle"></ion-icon>  Edad</ion-label>
        <ion-input type="text" [(ngModel)]="profile.age" name="age">
        </ion-input>
      </ion-item> -->
      <!-- CUMPLEAÑOS -->
      <ion-item>
        <ion-label floating><ion-icon name="calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="profile.birthday" name="birthday">
        </ion-datetime>
      </ion-item>
      <!-- TELEFONO -->
      <ion-item>
        <ion-label floating><ion-icon name="phone-portrait"></ion-icon>  No. Teléfono</ion-label>
        <ion-input type="number" [(ngModel)]="profile.phone" name="phone">
        </ion-input>
      </ion-item>
      <!--TRABAJO -->
      <ion-item>
        <ion-label floating><ion-icon name="briefcase"></ion-icon>  Trabajo</ion-label>
        <ion-input type="text" [(ngModel)]="profile.work" name="work">
        </ion-input>
      </ion-item>
      <!--YOUTUBE -->
      <ion-item>
        <ion-label floating><ion-icon name="logo-youtube"></ion-icon>  ID Canal Youtube</ion-label>
        <ion-input type="text" [(ngModel)]="profile.youtube_channel" name="youtube_channel">
        </ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled">
      <ion-icon name="archive"></ion-icon> Guardar Cambios
    </button>
  </form>
</ion-content>

<ion-content padding *ngIf="parameter.state == '2'">
  <form (ngSubmit)="changePasswordProfile()">
    <!--CONTRASEÑA ANTIGUA-->
    <ion-item>
      <ion-label floating><ion-icon name="lock"></ion-icon>  Contraseña Actual</ion-label>
      <ion-input type="password" [(ngModel)]="changePassword.old_pass" name="old_pass">
      </ion-input>
    </ion-item>
    <!--CONTRASEÑA NUEVA-->
    <ion-item>
      <ion-label floating><ion-icon name="lock"></ion-icon>  Contraseña Nueva</ion-label>
      <ion-input type="password" [(ngModel)]="changePassword.new_pass" name="new_pass">
      </ion-input>
    </ion-item>
    <!--CONFIRMAR CONTRASEÑA NUEVA-->
    <ion-item>
      <ion-label floating><ion-icon name="lock"></ion-icon>  Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="changePassword.new_pass_rep" name="new_pass_rep" >
      </ion-input>
    </ion-item>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled2">
      <ion-icon name="archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>

<ion-content [ngStyle]="{'display': parameter.state=='3'? 'block' : 'none'}">
  <div style="height: 85%; width: 100%;" id="map"></div>
  <form (ngSubmit)="updateLocation()" padding>
    <button ion-button block type="submit" icon-start [disabled]="btnDisabled" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>

<ion-content *ngIf="parameter.state == '4'">
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let a of access">
      <button ion-item class="div-player">
        <ion-toggle *ngIf="a.mostrar=='0'" (ionChange)="saveChanges(1, a.modulo)"></ion-toggle>
        <ion-toggle *ngIf="a.mostrar=='1'" checked="true" (ionChange)="saveChanges(0, a.modulo)"></ion-toggle>        
        <ion-avatar item-start *ngIf="a.mostrar == '0'">
          <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
        </ion-avatar>
        <ion-avatar item-start *ngIf="a.mostrar == '1'">
          <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
        </ion-avatar>
        <ion-label>
          {{ a.apodo!=null?a.apodo:a.nombre }}
        </ion-label>
      </button>
      <ion-item-options side="right" *ngIf="a.acceso">
        <button ion-button color="primary" (click)="updateModule(a.acceso)" color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon name="create"></ion-icon>
          Actualizar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-content padding *ngIf="parameter.state == '5'">
  <div *ngIf="data">
    <img src="{{ data.picture }}" style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto;">
    <h3 class="text center">{{ data.firstname }} {{ data.lastname }}</h3>
    <h6 class="text center">{{ data.email }}</h6><br>
  </div>
  <div *ngIf="!data">
    <img src="https://image.flaticon.com/icons/svg/37/37943.svg" 
    style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto;">
    <h3 class="text center">Usuario no encontrado.</h3>
  </div>
</ion-content>

<ion-content padding *ngIf="parameter.state == '6'">
  <form (ngSubmit)="updateConfiguration()">
    <ion-item>
      <ion-label floating><ion-icon name="logo-usd"></ion-icon>  Tipo de Moneda</ion-label>
      <ion-select [(ngModel)]="profile.opcion1" name="opcion1">
        <ion-option value="Q"><strong>Q</strong> Quetzal</ion-option>
        <ion-option value="$"><strong>$</strong> Dólar</ion-option>
        <ion-option value="€"><strong>€</strong> Euro</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating><ion-icon name="home"></ion-icon> Página Principal</ion-label>
      <ion-select [(ngModel)]="profile.opcion2" name="opcion2">
        <div *ngFor="let x of table">
          <ion-option *ngIf="!x.apodo" value="{{x.modulo}}"> {{ ((x.modulos_show.nombre!=null)?x.modulos_show.nombre:'')}}</ion-option>
          <ion-option *ngIf="x.apodo" value="{{x.modulo}}"> {{ x.apodo }}</ion-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Membresía</ion-label>
      <ion-checkbox [(ngModel)]="profile.opcion3" name="opcion3"></ion-checkbox>
    </ion-item>
    <!-- HABILITAR PEDIDOS -->
    <ion-item>
      <ion-label floating><ion-icon name="checkbox"></ion-icon>  Habilitar Pedidos</ion-label>
      <ion-select [(ngModel)]="profile.opcion5" name="opcion5">
        <ion-option value="0">Deshabilitar</ion-option>
        <ion-option value="1">Habilitar</ion-option>
      </ion-select>
    </ion-item>
    <!-- HABILITAR PEDIDOS -->
    <ion-item>
      <ion-label floating><ion-icon name="checkbox"></ion-icon>  Habilitar Carrito de Compras</ion-label>
      <ion-select [(ngModel)]="profile.opcion7" name="opcion7">
        <ion-option value="0">Deshabilitar</ion-option>
        <ion-option value="1">Habilitar</ion-option>
      </ion-select>
    </ion-item>
    <!-- PASARELA DE PAGOS -->
    <ion-item>
      <ion-label floating><ion-icon name="checkbox"></ion-icon>  Forma de pagos en línea</ion-label>
      <ion-select [(ngModel)]="profile.opcion19" name="opcion19">
        <ion-option value="0">Pagadito</ion-option>
        <ion-option value="1">QPayPro</ion-option>
      </ion-select>
    </ion-item>
    <!-- INFO DEPOSITO -->
    <ion-item>
      <ion-label floating><ion-icon name="information-circle"></ion-icon>  Info. Deposito</ion-label>
      <ion-textarea type="text" [(ngModel)]="profile.opcion27" name="opcion27">
      </ion-textarea>
    </ion-item>
    <!-- LINK APP STORE -->
    <ion-item>
      <ion-label floating><ion-icon name="link"></ion-icon>  Link App Store</ion-label>
      <ion-input type="text" [(ngModel)]="profile.opcion16" name="opcion16">
      </ion-input>
    </ion-item>
    <!-- LINK PLAY STORE -->
    <ion-item>
      <ion-label floating><ion-icon name="link"></ion-icon>  Link Play Store</ion-label>
      <ion-input type="text" [(ngModel)]="profile.opcion17" name="opcion17">
      </ion-input>
    </ion-item>
    <!-- LINK WHATSAPP BUSINESS -->
    <ion-item>
      <ion-label floating><ion-icon name="link"></ion-icon>  Link Whatsapp Business</ion-label>
      <ion-input type="text" [(ngModel)]="profile.opcion26" name="opcion26">
      </ion-input>
    </ion-item>
    <button ion-button block type="submit" color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled" icon-start>
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>

<ion-content *ngIf="parameter.state == '7'">
  <ion-list class="accordion">
    <button ion-item (click)="showImages()">
      <ion-icon name="images" item-start></ion-icon>
      Imágenes
    </button>
    <button ion-item (click)="showDesign()">
      <ion-icon name="color-palette" item-start></ion-icon>
      Colores y Diseño
    </button>
  </ion-list>

  <div *ngIf="images"> 
    <div padding>
      <!--IMAGEN DE LOGIN-->
      <h3>Imagen de Login</h3>
      <hr>
      <!--IMAGEN-->
      <div class="upload-btn-wrapper">
        <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon ios="ios-image" md="md-image"></ion-icon>
          Subir Imagen
        </button>
        <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar1" (change)="uploadImage1($event,'avatar1')"/>
      </div>
      <div *ngIf="profile.pic1">
        <img src="{{ profile.pic1 }}" id="imgAvatar1" alt="imgAvatar1"
        style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div *ngIf="!profile.pic1">
        <img src="http://foxylabs.xyz/Documentos/imgs/Zapatos.jpg" id="imgAvatar1" alt="Avatar1"
        style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
      </div>

      <!--IMAGEN DE CATEGORIA-->
      <h3>Imagen de Categorías</h3>
      <hr>
      <!--IMAGEN-->
      <div class="upload-btn-wrapper">
        <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon ios="ios-image" md="md-image"></ion-icon>
          Subir Imagen
        </button>
        <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar2" (change)="uploadImage2($event,'avatar2')"/>
      </div>
      <div *ngIf="profile.pic2">
        <img src="{{ profile.pic2 }}" id="imgAvatar2" alt="Avatar2"
        style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div *ngIf="!profile.pic2">
        <img src="http://foxylabs.xyz/Documentos/imgs/Category.jpg" id="imgAvatar2" alt="Avatar2"
        style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
      </div>

      <!--IMAGEN DE PORTADA-->
      <h3>Imagen de Portada</h3>
      <hr>
      <!--IMAGEN-->
      <div class="upload-btn-wrapper">
        <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
          <ion-icon ios="ios-image" md="md-image"></ion-icon>
          Subir Imagen
        </button>
        <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar3" (change)="uploadImage3($event,'avatar3')"/>
      </div>
      <div *ngIf="profile.pic3">
        <img src="{{ profile.pic3 }}" id="imgAvatar3" alt="Avatar3"
        style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div *ngIf="!profile.pic3">
        <img src="http://foxylabs.xyz/Documentos/imgs/categories.jpg" id="imgAvatar3" alt="Avatar3"
        style="display: block; width: 600px; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </div>

  <div *ngIf="design"> 
    <form padding (ngSubmit)="updateConfiguration()">
      <ion-item>
        <ion-label floating><ion-icon name="color-fill"></ion-icon>  Color de App</ion-label>
        <ion-select [(ngModel)]="profile.color" name="color">
          <ion-option value="primary">Predeterminado</ion-option>
          <ion-option value="rojo">Rojo</ion-option>
          <ion-option color="rojooscuro" value="rojooscuro">Rojo Oscuro</ion-option>
          <ion-option value="azul">Azul</ion-option>
          <ion-option value="azulmarino">Azul Marino</ion-option>
          <ion-option value="celeste">Celeste</ion-option>
          <ion-option value="purpura">Púrpura</ion-option>
          <ion-option value="moradooscuro">Morado Oscuro</ion-option>
          <ion-option value="verdeoscuro">Verde Oscuro</ion-option>
          <ion-option value="verdelimon">Verde Limón</ion-option>
          <ion-option value="amarillo">Amarillo</ion-option>
          <ion-option value="amarillooscuro">Amarillo Oscuro</ion-option>
          <ion-option value="naranja">Naranja</ion-option>
          <ion-option value="marron">Marrón</ion-option>
          <ion-option value="crema">Crema</ion-option>
          <ion-option value="vainilla">Vainilla</ion-option>
          <ion-option value="gris">Gris</ion-option>
          <ion-option value="grisoscuro">Gris Oscuro</ion-option>
          <ion-option value="grisazulado">Gris Azulado</ion-option>
          <ion-option value="negro">Negro</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-navbar color="{{ profile.color }}">
          <ion-title>Prueba de Color</ion-title>
        </ion-navbar>
      </ion-item>
      <ion-item>
        <ion-label floating><ion-icon name="color-fill"></ion-icon>  Color de Botones</ion-label>
        <ion-select [(ngModel)]="profile.color_button" name="color_button">
          <ion-option value="rojo">Rojo</ion-option>
          <ion-option color="rojooscuro" value="rojooscuro">Rojo Oscuro</ion-option>
          <ion-option value="azul">Azul</ion-option>
          <ion-option value="azulmarino">Azul Marino</ion-option>
          <ion-option value="celeste">Celeste</ion-option>
          <ion-option value="purpura">Púrpura</ion-option>
          <ion-option value="moradooscuro">Morado Oscuro</ion-option>
          <ion-option value="verdeoscuro">Verde Oscuro</ion-option>
          <ion-option value="verdelimon">Verde Limón</ion-option>
          <ion-option value="amarillo">Amarillo</ion-option>
          <ion-option value="amarillooscuro">Amarillo Oscuro</ion-option>
          <ion-option value="naranja">Naranja</ion-option>
          <ion-option value="marron">Marrón</ion-option>
          <ion-option value="crema">Crema</ion-option>
          <ion-option value="vainilla">Vainilla</ion-option>
          <ion-option value="gris">Gris</ion-option>
          <ion-option value="grisoscuro">Gris Oscuro</ion-option>
          <ion-option value="grisazulado">Gris Azulado</ion-option>
          <ion-option value="negro">Negro</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <button ion-button block large type="button" color="{{ profile.color_button }}">
          Prueba de Color
        </button>
      </ion-item>   
      <ion-item>
        <ion-label floating><ion-icon name="color-wand"></ion-icon>  Diseño de Información</ion-label>
        <ion-select [(ngModel)]="profile.opcion4" name="opcion4">
          <ion-option value="0">Diseño 1</ion-option>
          <ion-option value="1">Diseño 2</ion-option>
          <ion-option value="2">Diseño 3</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating><ion-icon name="color-wand"></ion-icon>  Diseño de Información 2</ion-label>
        <ion-select [(ngModel)]="profile.opcion6" name="opcion6">
          <ion-option value="0">Diseño 1</ion-option>
          <ion-option value="1">Diseño 2</ion-option>
          <ion-option value="2">Diseño 3</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating><ion-icon name="color-wand"></ion-icon>  Diseño de Categoría</ion-label>
        <ion-select [(ngModel)]="profile.opcion8" name="opcion8">
          <ion-option value="0">Diseño de Cartas</ion-option>
          <ion-option value="1">Diseño de Presentación</ion-option>
        </ion-select>
      </ion-item>
      <!-- SUBCATEGORIA -->
      <ion-item>
        <ion-label floating><ion-icon name="checkbox"></ion-icon>  Habilitar Subcategorías</ion-label>
        <ion-select [(ngModel)]="profile.opcion21" name="opcion21">
          <ion-option value="1">Si</ion-option>
          <ion-option value="0">No</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button block type="submit" color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled" icon-start>
        <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
        Guardar Cambios
      </button>
    </form>
  </div>
</ion-content>