<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Envíar Mensaje</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form style="display: block; max-width: 550px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="sendMessage()">
    <!--ASUNTO-->
    <ion-item>
        <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Asunto</ion-label>
        <ion-input type="text" [(ngModel)]="message.subject" name="subject">
        </ion-input>
      </ion-item>
    <!--MENSAJE-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-mail" md="md-mail"></ion-icon>  Mensaje</ion-label>
      <ion-textarea type="text" [(ngModel)]="message.message" name="message">
      </ion-textarea>
    </ion-item>
    <button ion-button full icon-start type="submit">
     <ion-icon ios="ios-send" md="md-send"></ion-icon>
      Envíar Mensaje
    </button>
  </form>
</ion-content>