<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Libros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let x of orders">
    <div *ngIf="x.state == '1' && x.libro">
    <button ion-item *ngIf="x.libro" (click)="openBrowser(x.libro, x.products.name)">
      <div item-start>
        <img class="image-book" src="{{ x.products.picture }}">
      </div>
      <h2>{{ x.products.name }}</h2>
      <p>{{ x.products.description }}</p>
    </button>
    <button ion-item *ngIf="!x.libro" (click)="documentEmpty()">
      <div item-start>
        <img class="image-book" src="{{ x.products.picture }}">
      </div>
      <h2>{{ x.products.name }}</h2>
      <p>{{ x.products.description }}</p>
    </button>
    </div>
    </div>
  </ion-list>
</ion-content>
