<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Orden Mi Carrito</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="">
  <form style="display: block; max-width: 600px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="saveChanges()">
    <div >
      <img src="{{ data.archivo }}" id="imgAvatar" alt="Avatar" class="image-slides"/>
      <img src="{{ data.archivo }}" id="imgAvatar2" alt="Avatar" class="image-slides"/>
    </div>
    <!-- NOMBRE -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="data.nombre" disabled name="nombre">
      </ion-input>
    </ion-item>
    <!-- NIT 
    <ion-item>
      <ion-label floating>Nit</ion-label>
      <ion-input type="text" [(ngModel)]="data.nit" name="nit" (keyup.enter)="openModal()">
      </ion-input>
    </ion-item> -->
    <!-- FECHA -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" [(ngModel)]="data.fecha" disabled
        pickerFormat="DD MMM YYYY" name="fecha">
      </ion-datetime>
    </ion-item>
    <!-- NO. FACTURA -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  No. Comprobante</ion-label>
      <ion-input type="text" disabled [(ngModel)]="data.comprobante" name="comprobante">
      </ion-input>
    </ion-item>
    <!-- NO. FACTURA -->
    <ion-item>
      <ion-label floating><ion-icon name="home"></ion-icon>  Dirección</ion-label>
      <ion-select [(ngModel)]="data.direccion" name="direccion">
        <div *ngFor="let x of table">
          <ion-option value="{{x.id}}" *ngIf="x.client == data.cliente">{{ x.direccion }}</ion-option>
        </div>
      </ion-select>
    </ion-item>
    <!-- CANTIDAD -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Cantidad de Productos</ion-label>
      <ion-input type="text" disabled [(ngModel)]="data.cantidad" name="cantidad">
      </ion-input>
    </ion-item>
    <!--TIPO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Tipo de Venta</ion-label>
      <ion-select [(ngModel)]="data.tipo" name="tipo">
        <ion-option  *ngFor="let x of Ventas" value="{{x.id}}" >{{ x.descripcion }}</ion-option>
      </ion-select>
    </ion-item>
    <!--PRECIO-->
    <ion-item *ngIf="data.tipo == 2">
      <ion-label floating><ion-icon name="document"></ion-icon>  No. de Deposito</ion-label>
      <ion-input type="text" [(ngModel)]="data.deposito" name="deposito">
      </ion-input>
    </ion-item>
    <!-- TOTAL -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-cash" md="md-cash"></ion-icon>  Total</ion-label>
      <ion-input type="text" disabled [(ngModel)]="data.total" name="total">
      </ion-input>
    </ion-item>
    <!-- TOTAL -->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text" [(ngModel)]="data.comentario" name="comentario">
      </ion-textarea>
    </ion-item>
    <!--DESCUENTO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-cash" md="md-cash"></ion-icon>  Código de Descuento</ion-label>
      <ion-input type="text" [(ngModel)]="data2.codigo" name="codigo" maxlength="255">
      </ion-input>
    </ion-item>
    <div class="upload-btn-wrapper">
      <button style="width: 100%" ion-button block icon-start outline type="button">
        <ion-icon ios="ios-attach" md="md-attach"></ion-icon>
        Adjuntar Archivo
      </button>
      <input class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImage($event,'avatar')"/>
    </div>
    <button ion-button block icon-start type="button" color="{{ btnColor!=null?btnColor:'primary' }}" (click)="search()" [disabled]="btnDisabled2">
      <ion-icon name="search"></ion-icon>Buscar Código
    </button>
    <button ion-button block icon-start type="submit" color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="btnDisabled">
      <ion-icon ios="ios-cart" md="md-cart"></ion-icon>Realizar Pedido
    </button>
  </form>    
</ion-content>