<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subcategorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  <style></style>

  <div class="w3-row">
    <div class="w3-half" *ngFor="let c of categorys">
      <ion-card>
          <img *ngIf="c.picture" (click)="seeProducts(c.id)" src="{{c.picture}}"/>
          <img *ngIf="!c.picture" (click)="seeProducts(c.id)" src="{{pictureCategories}}"/>
          <div *ngIf="c.state == 1" (click)="seeProducts(c.id)" class="text-abc"></div>
          <div *ngIf="c.state == 1" (click)="seeProducts(c.id)" class="card-title">{{ c.name }}</div>
          <div *ngIf="c.state == 1" (click)="seeProducts(c.id)" class="card-subtitle">{{ c.description }}</div>
      </ion-card>
    </div>
  </div>
</ion-content>