<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>No. Comprobante {{order.id}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment color="white" [(ngModel)]="selectItem">
      <ion-segment-button value="detalle">
        Detalles
      </ion-segment-button>
      <ion-segment-button value="productos">
        Productos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="saveChanges()" *ngIf="selectItem == 'detalle'">
    <!--NOMBRE-->
    <div *ngIf="order.image" id='iframe'>
      <img class="image-slides2" [src]="order.image | sanitizer">
    </div>
    <!--NOMBRE-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Usuario</ion-label>
      <ion-input type="text"
      [(ngModel)]="order.userProvider" name="userProvider" disabled>
      </ion-input>
    </ion-item>
    <!--TELEFONO-->
    <ion-item>
      <ion-label floating><ion-icon name="phone-portrait"></ion-icon>  Teléfono</ion-label>
      <ion-input type="text"
      [(ngModel)]="order.userPhone" name="userPhone" disabled>
      </ion-input>
    </ion-item>
    <!--NOMBRE-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Nombre</ion-label>
      <ion-input type="text"
      [(ngModel)]="order.name" name="name" disabled>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripcion</ion-label>
      <ion-textarea type="text"
      [(ngModel)]="order.description" name="description" disabled>
      </ion-textarea>
    </ion-item>
    <!--PRECIO-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Precio por Unidad</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.unit_prices" name="unit_prices" disabled >
      </ion-input>
    </ion-item>
    <!--CANTIDAD-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-basket-outline" md="ios-basket"></ion-icon>  Cantidad</ion-label>
      <ion-input type="number"
        [(ngModel)]="order.quantity" name="quantity" disabled>
      </ion-input>
    </ion-item>
    <!--COMENTARIO-->
    <ion-item *ngIf="order.comment">
      <ion-label floating><ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>  Comentario</ion-label>
      <ion-textarea type="text"
      [(ngModel)]="order.comment" name="comment" disabled>
      </ion-textarea>
    </ion-item>
    <!--APROBACION-->
    <ion-item *ngIf="order.aprobacion">
      <ion-label floating><ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>  Aprobación</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.aprobacion" name="aprobacion" disabled >
      </ion-input>
    </ion-item>
    <!--APROBACION-->
    <ion-item *ngIf="order.created">
      <ion-label floating><ion-icon name="document"></ion-icon>  Fecha de Emisión</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.create" name="create" disabled >
      </ion-input>
    </ion-item>
    <!--DEPOSITO-->
    <ion-item *ngIf="order.deposito">
      <ion-label floating><ion-icon ios="ios-document" md="md-document"></ion-icon>  Deposito</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.deposito" name="deposito" disabled >
      </ion-input>
    </ion-item>
    <!--APROBACION-->
    <ion-item *ngIf="order.fecha">
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha y Hora de Autorización</ion-label>
      <ion-input type="text"
        [(ngModel)]="order.fecha" name="fecha" disabled >
      </ion-input>
    </ion-item>
    <!--VISUALIZAR DEPOSITO-->
    <ion-item *ngIf="order.picture">
      <ion-row justify-content-center>
        <img  style="height: 40%; width: 60%;" [src]="order.picture | sanitizer"/>
      </ion-row>
    </ion-item>
    <!--FECHA ENTREGA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha Aproximada de Entrega</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" [(ngModel)]="order.fechaapro" name="fechaapro"></ion-datetime>
    </ion-item>
    <button ion-button block type="submit" icon-start [disabled]="btnDisabled" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Aceptar Orden
    </button>
  </form>

  <div *ngIf="selectItem == 'productos'">
    <ion-grid *ngIf="dataVenta">
      <ion-row justify-content-center align-items-center style="border-bottom: 1px solid black;margin: 2px;" *ngFor="let x of dataVenta.detalle">
        <ion-col col-9>
          <div>{{x.productos.name}}</div>
          <p class="text"><strong>Precio: </strong>{{ x.productos.price }}</p>
          <div *ngIf="x.opcion2">
            <p class="text"><strong>Presentación: </strong>{{ x.presentacion }}</p>
          </div>
        </ion-col>
        <ion-col>
          <ion-row justify-content-center align-items-center>
            <ion-col style="text-align: center">
            <h5>{{x.cantidad}}</h5>
            </ion-col>
          </ion-row>
        </ion-col>
        <!--<ion-col (click)="seeMore(x.producto)">
          <div><img src="{{x.picture}}" class="image-book"/></div>
        </ion-col>-->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
