<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subcategorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>
  <style></style>

  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let c of categorys">
      <img *ngIf="c.picture" (click)="seeProducts(c.id)" src="{{c.picture}}"/>
      <img *ngIf="!c.picture" (click)="seeProducts(c.id)" src="{{pictureCategories}}"/>
      <h2>{{ c.name }}</h2>
      <p>{{ c.description }}</p>
      <ion-row>
        <ion-col md-6>
          <button ion-button block outline color="danger" icon-start
          (click)="delete(c.id)">
            <ion-icon name="trash"></ion-icon>
            Eliminar
          </button>
        </ion-col>
        <ion-col md-6>
          <button ion-button block outline color="{{ btnColor!=null?btnColor:'primary' }}" icon-start
          (click)="openModal(c.id)">
            <ion-icon name="create"></ion-icon>
            Actualizar
          </button>
        </ion-col>
      </ion-row>
    </ion-slide>  
  </ion-slides>

  <ion-fab right bottom>
    <button ion-fab (click)="openModal('new')" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>