<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
    <!-- ION TOOLBAR -->
  <ion-toolbar no-border-top color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="pagados" (click)="getAll(idUser, 3)">
        Pagados
      </ion-segment-button>
      <ion-segment-button value="deposito" (click)="getAll(idUser, 5)">
        Depositos
      </ion-segment-button>
      <ion-segment-button value="pendientes" (click)="getAll(idUser, 4)">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="enviados" (click)="getAll(idUser, 2)">
        Enviados
      </ion-segment-button>
      <ion-segment-button value="entregados" (click)="getAll(idUser, 1)">
        Entregados
      </ion-segment-button>
      <ion-segment-button value="cancelados" (click)="getAll(idUser, 0)">
        Cancelados
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div  *ngFor="let o of orders">
  <ion-card *ngIf="o.products.membresia == 0 || o.products.membresia == null">
    <ion-card-content (click)="openForm(o.id)">
      <ion-card-title *ngIf="o.state == '5'">
        <ion-icon ios="ios-cash" md="md-cash" item-start></ion-icon>        
        Orden No. {{ o.id }}
      </ion-card-title>
      <ion-card-title *ngIf="o.state == '4'">
        <ion-icon ios="ios-cash" md="md-cash" item-start></ion-icon>        
        Orden No. {{ o.id }}
      </ion-card-title>
      <div *ngIf="idUser != '144'">
        <ion-card-title *ngIf="o.state == '3' && token">
          <ion-icon ios="ios-card" md="md-card" item-start></ion-icon>     
          Orden No. {{ o.id }}
        </ion-card-title>      
        <ion-card-title *ngIf="o.state == '3' && !token">
          <ion-icon ios="ios-card" md="md-card" item-start></ion-icon>     
          Orden No. {{ o.id }} - No Pagado
        </ion-card-title>
      </div>
      <div *ngIf="idUser == '144'">
        <ion-card-title *ngIf="o.state == '3'">
          <ion-icon ios="ios-card" md="md-card" item-start></ion-icon>     
          Orden No. {{ o.id }}
        </ion-card-title>
      </div>
      <ion-card-title *ngIf="o.state == '2'">
        <ion-icon ios="ios-time" md="md-time" item-start></ion-icon>
        Orden No. {{ o.id }}
      </ion-card-title>
      <ion-card-title *ngIf="o.state == '1'">
        <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
        Orden No. {{ o.id }}
      </ion-card-title>
      <ion-card-title *ngIf="o.state == '0'">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Orden No. {{ o.id }}
      </ion-card-title>
      <p class="text">
        <strong>Comentario: </strong>{{ o.comment }}
      </p>
      <p class="text">
        <strong>Producto: </strong>{{ o.products.name }}
      </p>
      <p class="text">
        <strong>Precio Unitario: </strong>{{moneda}} {{ o.unit_price }}
      </p>
      <p class="text">
        <strong>Cantidad: </strong>{{ o.quantity }}
      </p>
      <p class="text" *ngIf="o.state == '5'">
        <strong>No. Deposito: </strong>{{ o.deposito }}
      </p>
      <p class="text">
        <strong>Total: </strong>{{moneda}} {{ o.total }}
      </p>
    </ion-card-content>
    <ion-list>
      <!--<button *ngIf="o.state == '5'" ion-item (click)="accept(o.id)">
        <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
        Aceptar
      </button>
      <button *ngIf="o.state == '4'" ion-item (click)="accept(o.id)">
        <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
        Aceptar
      </button>-->
      <button *ngIf="o.state == '4'" ion-item (click)="cancel(o.id)">
        <ion-icon ios="ios-close" md="md-close" item-start></ion-icon>
        Cancelar
      </button>
      <!--<button *ngIf="o.state == '3'" ion-item (click)="accept(o.id)">
        <ion-icon ios="ios-checkmark" md="md-checkmark" item-start></ion-icon>
        Aceptar
      </button>-->
    </ion-list>
  </ion-card>
</div>

</ion-content>
